<div class="col-12 text-center m-b-30 m-t-10">
  <h3>Vehicle details for {{ vehicle.manufacturer.name }} {{ vehicle.model }}</h3>
</div>

<div>
  <table class="table table-striped table-responsive-md btn-table">
    <tbody>
      <tr>
        <td class="">Vehicle manufacturer :</td>
        <td class="">{{ vehicle.manufacturer.name }}</td>
      </tr>
      <tr>
        <td class="">Vehicle model :</td>
        <td class="">{{ vehicle.model }}</td>
      </tr>
      <tr>
        <td class="">Vehicle power :</td>
        <td class="">{{ vehicle.power }}</td>
      </tr>
      <tr>
        <td class="">Vehicle price :</td>
        <td class="">{{ vehicle.price }}</td>
      </tr>
      <tr>
        <td class="">Vehicle description :</td>
        <td class="">{{ vehicle.description }}</td>
      </tr>
      <tr>
        <td class="">Vehicle millage :</td>
        <td class="">{{ vehicle.millage }}</td>
      </tr>
      <tr>
        <td class="">Vehicle firstRegistration :</td>
        <td class="">{{ vehicle.firstRegistration }}</td>
      </tr>
      <tr>
        <td class="">Vehicle location :</td>
        <td class="">{{ vehicle.location }}</td>
      </tr>
      <tr>
        <td class="">Vehicle contact :</td>
        <td class="">{{ vehicle.contact }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button class="btn btn-primary m-t-30  m-r-30 f-r" (click)="routeToMainPage()">Back to main page</button>
</div>