<div class="col-12 text-center m-b-30 m-t-10">
  <h3>VehicleModel details for {{ vehicle.manufacturerName }} {{ vehicle.model }}</h3>
</div>

<div>
  <table class="table table-striped table-responsive-md btn-table">
    <tbody>
      <tr>
        <td class="">VehicleModel manufacturer :</td>
        <td class="">{{ vehicle.manufacturerName }}</td>
      </tr>
      <tr>
        <td class="">VehicleModel model :</td>
        <td class="">{{ vehicle.model }}</td>
      </tr>
      <tr>
        <td class="">VehicleModel power :</td>
        <td class="">{{ vehicle.power }}</td>
      </tr>
      <tr>
        <td class="">VehicleModel price :</td>
        <td class="">{{ vehicle.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button class="btn btn-primary m-t-30  m-r-30 f-r" (click)="routeToMainPage()">Back to main page</button>
</div>