<div class="margin">
  Vehicles 
</div>

<div class="split left">
    <div class="centered margins">
        <input type="button" class="btn btn-secondary float-right" value="Add vehicle" (click)="newVehicle()">
        <div *ngFor="let vehicle of vehicles" style="margin-top:20px">
            <a (click)="vehicleClicked(vehicle)">
                {{ vehicle.manufacturer }} {{ vehicle.model }}
            </a>
            <a (click)="deleteVehicle(vehicle.id)" style="margin-left:20px"> izbriši</a>
            <a (click)="editVehicle(vehicle.id)" style="margin-left:20px"> uredi</a>
        </div>
    </div>
</div>

<div class="split right">
    <div class="centered">

        <app-vehicle-detail *ngIf="selected" [vehicle]="selectedVehicle">
        </app-vehicle-detail>
    </div>
</div>



<!-- 
<table id="data_table" class="style">
    <tbody>
        <tr *ngFor="let vehicle of vehicles" [attr.id]="vehicle.id">
            <td>{{ vehicle.id }}</td>
            <td>{{ vehicle.description }}</td>
            <td>{{ vehicle.millage }}</td>
            <td>{{ vehicle.location }}</td>
            <td>{{ vehicle.contact }}</td>
            <td>{{ vehicle.variant }}</td>
            <td>{{ vehicle.firstRegistration }}</td>
            <td>{{ vehicle.power }}</td>
            <td>{{ vehicle.price }}</td>
            <td>{{ vehicle.manufacturer }}</td>
            <td>{{ vehicle.model }}</td>
        </tr>
    </tbody> 
</table> -->