<h1>Cars</h1>

<div class="row">
  <div class="col-md-4" *ngFor="let vehicle of vehicles">
    <div class="card mb-4">
      <!-- <img class="card-img-top" src="{{ vehicle.imageUrl }}" alt="Car Image"> -->
      <div class="card-body">
        <h5 class="card-title">{{ vehicle.manufacturerName }} {{ vehicle.model }}</h5>
        <!-- Add more details about the car if needed -->
        <div class="text-center">
          <button class="btn btn-primary" (click)="openCarDetails(vehicle)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1" [pageSizeOptions]="[5, 10, 50]"
    (page)="pageChanged($event)">
</mat-paginator>