<div class="card">
    <div class="card-header margin" style="font-size: 30px; text-align: center;">
        Manufacturers
    </div>
    <!-- <div>
        <button type="button" class="btn btn-success col-2 m-r-10" style="float:right" (click)="toAdminPage()">Admin page</button>
    </div> -->
    <div class="card-body centered margins">
        <ul class="vehicles">
            <div *ngFor="let manufacturer of manufacturers" style="margin-top:20px">
                <li type="button" [class.selected]="manufacturer === selectedManufacturer" class="btn btn-secondary" (click)="manufacturerClicked(manufacturer)" class="list-group-item">
                        {{ manufacturer.name }} </li>

            </div>
        </ul>
    
    </div>
</div>
<div>
    <button type="button" class="btn btn-success">Create new Manufacturer</button>
</div>