/* You can add global styles to this file, and also import other style files */

.text-center {
    text-align: center;
}


.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.bold {
    font-weight: bolder;
}

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');